# Auth
JWT_SECRET=sua-chave-secreta-aqui-mude-em-producao
JWT_HORAS_EXPIRACAO=24

# IA (OpenCode)
API_KEY_OPENCODE=sua-chave-api-aqui
BASE_URL_OPENCODE=https://opencode.ai/zen/go/v1

# ChromaDB (banco vetorial)
CHROMADB_HOST=localhost
CHROMADB_PORT=8000
CHROMADB_SSL=false